<div class="container">
  <br>
    <div class="row">
      <div class="col-12 col-md-4 mx-auto">
        <%= image_tag 'Sunflower.jpg', class: "img-fluid", alt: "Responsive image" %>
      </div>
        <%= render 'paintings/index' , paintings: @paintings %>
    </div>
</div>
