<h1>NEW</h1>                    
<div class="container mt-4">
    <div class="row">
        <% if @paintings.present? %>
            <%= render @paintings %>
        <% else %>
            <p>作品はありません</p>
        <% end %>
    </div>
</div>
